In [1]:
import yfinance as yf
import pandas as pd
import datetime as date
from sqlalchemy import create_engine

In [2]:
name = ["SEB","AMZN","BKNG","GOOG","GOOGL","AZO","AVGOP","TPL","CMG","MKL", "^GSPC", "MTD",  "CABO", "WTM", "TSLA"]

In [3]:
datasets = [] 
for i in name:
    dataset = yf.Ticker(i)
    dataset = dataset.history(period="max")
    dataset['name'] = [i for _ in range(dataset.shape[0])]
    datasets.append(dataset)

In [12]:
stock_data = pd.concat(datasets)
del stock_data['Dividends']
del stock_data['Stock Splits']  
del stock_data['Open']  
del stock_data['High']  
del stock_data['Low']  
del stock_data['Volume']  
stock_data['id'] = [i for i in range(stock_data.shape[0])]

In [14]:
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 104255 entries, 1973-02-22 to 2022-06-13
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Close   104255 non-null  float64
 1   name    104255 non-null  object
 2   id      104255 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

In [15]:
stock_data.to_csv("stock_data.csv")

In [16]:
df = pd.read_csv("stock_data.csv")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104255 entries, 0 to 104254
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    104255 non-null  object
 1   Close   104255 non-null  float64
 2   name    104255 non-null  object
 3   id      104255 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.2+ MB

In [21]:
engine = create_engine("sqlite:////home/ubuntu/MyNotebooks/Engineering/stock.db")

In [22]:
cnx = engine.connect()

In [23]:
df = pd.read_sql_table('stock_table', cnx)

In [24]:
df.head()

         Date     Close name  id
0  1973-02-22  7.381868  SEB   0
1  1973-02-23  7.493720  SEB   1
2  1973-02-26  7.381868  SEB   2
3  1973-02-27  7.381868  SEB   3
4  1973-02-28  7.270024  SEB   4

In [25]:
df['Date']= pd.to_datetime(df['Date'])

In [26]:
df.set_index('Date', inplace = True)

In [27]:
df.to_csv("stock_data_github.csv")